@page "/catalog/categories"

<div class="row">
    <div class="col">
        <h3>Categories</h3>
    </div>
    <div class="col-auto align-content-center">
        <a href="catalog/categories/create" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> Create new
        </a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <CategorySearchForm Model="queryModel"
                            OnCategoriesFiltered="ApplyCategoriesFilter"/>
    </div>
</div>
<div class="row">
    <div class="col">
        @if (categories == null || loading)
        {
            <Loader />
        }
        else
        {
            <CategoryList Categories="categories" />
        }
    </div>
</div>
