@page "/catalog/categories/{categoryId}"

@if (category == null)
{
    <Loader />
}
else
{
    <AdminPage Title="@category?.Details.Name">
        <Toolbar>
            <a href="catalog/categories" class="btn btn-primary">
                <i class="fas fa-chevron-circle-left"></i> Back to list
            </a>
        </Toolbar>
        <PageContent>
            @if (errorRaised)
            {
                <div class="row">
                    <div class="col">
                        <Alert Color="Color.Danger">
                            <AlertMessage>Error saving the category, please retry</AlertMessage>
                        </Alert>
                        <CloseButton />
                    </div>
                </div>
            }
            <div class="row">
                <div class="col">
                    <Tabs SelectedTab="generalInfo">
                        <Items>
                            <Tab Name="generalInfo">General Info</Tab>
                            <Tab Name="seo">SEO</Tab>
                        </Items>
                        <Content>
                            <TabPanel Name="generalInfo">
                                <CategoryInfoForm Model="category.Details"
                                                  Readonly="true"
                                                  OnModelSaved="UpdateCategoryInfo" />
                            </TabPanel>
                            <TabPanel Name="seo">
                                <SeoDataForm Model="category.Seo"
                                             Readonly="true"
                                             OnModelSaved="UpdateCategorySeoData" />
                            </TabPanel>
                        </Content>
                    </Tabs>
                </div>
            </div>
        </PageContent>
    </AdminPage>
}