@page "/catalog/categories/create"

<AdminPage Title="Create new Category">
    <Toolbar>
        <a href="catalog/categories" class="btn btn-primary">
            <i class="fas fa-chevron-circle-left"></i> Back to list
        </a>
    </Toolbar>
    <PageContent>
        @if (errorRaised)
        {
            <div class="row">
                <div class="col">
                    <Alert Color="Color.Danger">
                        <AlertMessage>Error saving the new category, please retry</AlertMessage>
                    </Alert>
                    <CloseButton />
                </div>
            </div>
        }
        <div class="row">
            <div class="col">
                <Tabs SelectedTab="generalInfo">
                    <Items>
                        <Tab Name="generalInfo">General Info</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="generalInfo">
                            <CategoryInfoForm Model="model"
                                              OnModelSaved="CreateNewCategory" />
                        </TabPanel>
                    </Content>
                </Tabs>
            </div>
        </div>
    </PageContent>
</AdminPage>
