@page "/catalog/brands/create"

<AdminPage Title="Create new Brand">
    <Toolbar>
        <a href="catalog/brands" class="btn btn-primary">
            <i class="fas fa-chevron-circle-left"></i> Back to list
        </a>
    </Toolbar>
    <PageContent>
        @if (errorRaised)
        {
            <div class="row">
                <div class="col">
                    <Alert Color="Color.Danger">
                        <AlertMessage>Error saving the new brand, please retry</AlertMessage>
                    </Alert>
                    <CloseButton />
                </div>
            </div>
        }
        <div class="row">
            <div class="col">
                <Tabs SelectedTab="generalInfo">
                    <Items>
                        <Tab Name="generalInfo">General Info</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="generalInfo">
                            <BrandInfoForm Model="model"
                                           OnModelSaved="CreateNewBrand" />
                        </TabPanel>
                    </Content>
                </Tabs>
            </div>
        </div>
    </PageContent>
</AdminPage>