@page "/catalog/products"

<AdminPage Title="Products">
    <Toolbar>
        <a href="catalog/products/create" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> Create new
        </a>
    </Toolbar>
    <PageContent>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                @if (products == null)
                {
                    <Loader />
                }
                else
                {
                    <ProductList Products="products"
                                 OnProductDetailOpened="OpenProductDetail"
                                 OnProductDeleteConfirmed="DeleteProduct"
                                 OnProductRestoreConfirmed="RestoreProduct"/>
                }
            </div>
        </div>
    </PageContent>
</AdminPage>
