<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Brands.Items)
        {
            <tr>
                <td>@brand.Name</td>
                <td>@brand.Url</td>
                <td class="col-auto">
                    <button type="button" class="btn btn-outline-primary" @onclick="() => OpenBrandDetail(brand)">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                </td>
                <td class="col-auto">
                    @if (!brand.Deleted)
                    {
                        <button type="button" class="btn btn-outline-danger" @onclick="() => DeleteBrand(brand)">
                            <i class="far fa-trash-alt"></i> Delete
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-primary" @onclick="() => RestoreBrand(brand)">
                            <i class="fas fa-undo-alt"></i> Restore
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<Modal @ref="confirmDeleteModal">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Delete Brand @selectedBrand?.Name</ModalTitle>
            <CloseButton @onclick="() => CloseModal(confirmDeleteModal)" />
        </ModalHeader>
        <ModalBody>
            <h6>You are going to delete the brand @selectedBrand?.Name. Are you sure?</h6>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-outline-secondary" @onclick="() => CloseModal(confirmDeleteModal)">No</button>
            <button type="button" class="btn btn-primary" @onclick="ConfirmDeleteBrand">Yes!</button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="confirmRestoreModal">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Restore Brand @selectedBrand?.Name</ModalTitle>
            <CloseButton @onclick="() => CloseModal(confirmRestoreModal)" />
        </ModalHeader>
        <ModalBody>
            <h6>You are going to restore the brand @selectedBrand?.Name. Are you sure?</h6>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-outline-secondary" @onclick="() => CloseModal(confirmRestoreModal)">No</button>
            <button type="button" class="btn btn-primary" @onclick="ConfirmRestoreBrand">Yes!</button>
        </ModalFooter>
    </ModalContent>
</Modal>
