@page "/catalog/brands/{brandId}"

@if (brand == null)
{
    <Loader />
}
else
{
    <div class="row">
        <div class="col">
            <h3>@brand?.Details.Name</h3>
        </div>
        <div class="col-auto align-content-center">
            <a href="catalog/brands" class="btn btn-primary">
                <i class="fas fa-chevron-circle-left"></i> Back to list
            </a>
        </div>
    </div>
    <hr />
    @if (errorRaised)
    {
        <div class="row">
            <div class="col">
                <Alert Color="Color.Danger">
                    <AlertMessage>Error saving the brand, please retry</AlertMessage>
                </Alert>
                <CloseButton />
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            <Tabs SelectedTab="generalInfo">
                <Items>
                    <Tab Name="generalInfo">General Info</Tab>
                    <Tab Name="seo">SEO</Tab>
                </Items>
                <Content>
                    <TabPanel Name="generalInfo">
                        <BrandInfoForm Model="brand.Details"
                                       Readonly="true"
                                       OnModelSaved="UpdateBrandInfo" />
                    </TabPanel>
                    <TabPanel Name="seo">
                        <SeoDataForm Model="brand.Seo"
                                     Readonly="true"
                                     OnModelSaved="UpdateBrandSeoData" />
                    </TabPanel>
                </Content>
            </Tabs>
        </div>
    </div>
}
