@page "/catalog"

<h3>Catalog</h3>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">
                    Manage your products
                </p>
                <a href="catalog/products" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <p class="card-text">
                    Manage your categories
                </p>
                <a href="catalog/categories" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brands</h5>
                <p class="card-text">
                    Manage your brands
                </p>
                <a href="catalog/brands" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custom attributes</h5>
                <p class="card-text">
                    Manage your custom attributes
                </p>
                <a href="catalog/customattributes" class="card-link btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>